/*
  My css style

  1.Home style settings
  2.Skills style settings
  3.Reference style settings
  4.Contact style settings
*/


/*
  1.Home style settings
*/


.header-overlay {
  min-height: 100vh;
  background: -webkit-linear-gradient(left, #1CB5E0 0%, #000851 100%);
  background: -o-linear-gradient(left, #1CB5E0 0%, #000851 100%);
  background: linear-gradient(to right, #1CB5E0 0%, #000851 100%);
  opacity: 0.5;
}


/*
   2.Skills style settings
*/

#skills .about-me > p {
  font-size:1.5em;
}


/*
   3.Reference style settings
*/

#reference {
  overflow:hidden;
  max-height: 100%;
}

/* pexeso styling */

#gameboard .gameTile > img {
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
